@model IEnumerable<Tipo_Datos.Models.Entidades.VentasModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaVenta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Codigo_Venta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sub_Total_Venta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado_Venta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descuento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total_Venta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Metodo_Pago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientesModel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Create_At)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Update_At)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isDelete)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaVenta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Codigo_Venta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sub_Total_Venta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado_Venta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descuento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total_Venta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Metodo_Pago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientesModel.Cedula_RUC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Create_At)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Update_At)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isDelete)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
