@model Tipo_Datos.Models.Entidades.ProductosModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>ProductosModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Codigo_Barras)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Codigo_Barras)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stock)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Create_At)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Create_At)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Update_At)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Update_At)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.isDelete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isDelete)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
