@model MVCASP.Models.Cliente

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre_Cliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre_Cliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Apellido_Cliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Apellido_Cliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion_Cliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Direccion_Cliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono_Cliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefono_Cliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha_Nacimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha_Nacimiento)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
